openapi: '3.0.2'
info:
  title: Ressources Relationnelles
  version: '1.0'
servers:
  - url: https://api.victor-gombert.fr/api/v1


paths:
  #region Categories
  /categories:
    get:
      summary: Get all categories
      tags: 
        - Categories
      parameters:
            - name: perPage
              in: query
              description: Set the number of categories per page
              required: false
              schema:
                type: integer
              #want : <key>[<operator>]=<value> 
              #ébut returns : &operator=<operator>&value=<value>
            - name: <key>[<operator>]=<value>
              in: query
              description: "Allow to filter categories with operators like : equals, notEquals, lowerThan, lowerThanEquals, greaterThan, greaterThanEquals"
              required: false
              schema:
                type: string
      responses:
        '200':
          description: Get all categories
          content:
            application/json:
              schema:
                type: array
              example:
                - id: 1
                  nom: "Catégorie 1"
                - id: 2
                  nom: "Catégorie 2"
                - id: 3
                  nom: "Catégorie 3"
    post:
      summary: Create a category
      tags:
        - Categories
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nom:
                  type: string
                  description: Name of the category
                  example: "My super category"
      responses:
        '201':
          description: Create a category
          content:
            application/json:
              schema:
                type: object
              example:
                - nom : "My super category"
  /categories/{id}:
    get:
      summary: Get a category by id
      tags:
        - Categories
      parameters:
        - name: id
          in: path
          description: ID of the category
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Get a category by id
          content:
            application/json:
              schema:
                type: object
              example:
                - id: 1
                  nom: "Catégorie 1"
    delete:
      summary: Delete a category
      tags:
        - Categories
      responses:
        '200':
          description: Delete a category
          content:
            application/json:
              schema:
                type: object
              example:
                - id: 1
                  nom: "Catégorie 1"
  #endregion

  #region Commentaires
  /commentaires:
    get:
      summary: Get all commentaires
      tags: 
        - Commentaires
      parameters:
            - name: perPage
              in: query
              description: Set the number of commentaires per page
              required: false
              schema:
                type: integer
            - name: <key>[<operator>]=<value>
              in: query
              description: Allow to filter commentaires with operators like equals, greater than, less than, greater than equals, less than equals
              required: false
              schema:
                type: string
      responses:
        '200':
          description: Get all commentaires
          content:
            application/json:
              schema:
                type: array
              example:
                - id: 1
                  dateCreation: 2023-01-02 21:16:55
                  status: PENDING
                  idUtilisateur: 1
                  contenu: Voluptas cum sint accusamus quo officiis qui. Eum voluptatem autem aut nisi. Quae molestiae optio et ut. Voluptatem vel hic temporibus ea animi magni totam.
                  datePublication: null
                  raisonRefus: null
                  idRessource: 2
                - id: 2
                  dateCreation: 2023-03-06 12:10:02
                  status: PENDING
                  idUtilisateur: 5
                  contenu: Voluptas cum sint accusamus quo officiis qui. Eum voluptatem autem aut nisi. Quae molestiae optio et ut. Voluptatem vel hic temporibus ea animi magni totam.
                  datePublication: null
                  raisonRefus: null
                  idRessource: 3
    post:
      summary: Create a commentaire
      tags:
        - Commentaires
      responses:
        '201':
          description: Create a commentaire
          content:
            application/json:
              schema:
                type: object
              example:
                - contenu : "Contenu du nouveau commentaire"
                  idUtilisateur : 1
                  idRessource : 2
    patch:
      summary: Disable a commentaire
      tags:
        - Commentaires
      responses:
        '200':
          description: Disable a commentaire
          content:
            application/json:
              schema:
                type: object
              example:
                - id: 1
                  dateCreation: 2023-01-02 21:16:55
                  status: PENDING
                  idUtilisateur: 1
                  contenu: Voluptas cum sint accusamus quo officiis qui. Eum voluptatem autem aut nisi. Quae molestiae optio et ut. Voluptatem vel hic temporibus ea animi magni totam.
                  datePublication: null
                  raisonRefus: null
                  idRessource: 2
  /commentaires/{id}:
    get:
      summary: Get a commentaire by id
      tags:
        - Commentaires
      parameters:
        - name: id
          in: path
          description: ID of the commentaire
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Get a commentaire by id
          content:
            application/json:
              schema:
                type: object
              example:
                - id: 1
                  dateCreation: 2023-01-02 21:16:55
                  status: PENDING
                  idUtilisateur: 1
                  contenu: Voluptas cum sint accusamus quo officiis qui. Eum voluptatem autem aut nisi. Quae molestiae optio et ut. Voluptatem vel hic temporibus ea animi magni totam.
                  datePublication: null
                  raisonRefus: null
                  idRessource: 2
  #endregion

  #region Favoris
  /favoris:
    get:
      summary: Get all favoris
      tags: 
        - Favoris
      parameters:
            - name: perPage
              in: query
              description: Set the number of favoris per page
              required: false
              schema:
                type: integer
            - name: <key>[<operator>]=<value>
              in: query
              description: Allow to filter favoris with operators like equals, greater than, less than, greater than equals, less than equals
              required: false
              schema:
                type: string
      responses:
        '200':
          description: Get all favoris
          content:
            application/json:
              schema:
                type: array
              example:
                - id: 1
                  dateCreation: 2023-01-02 21:16:55
                  status: PENDING
                  idUtilisateur: 1
                  idRessource: 2
                - id: 2
                  dateCreation: 2023-03-06 12:10:02
                  status: PENDING
                  idUtilisateur: 5
                  idRessource: 3
    post:
      summary: Create a favori
      tags:
        - Favoris
      responses:
        '201':
          description: Create a favori
          content:
            application/json:
              schema:
                type: object
              example:
                - idUtilisateur : 1
                  idRessource : 2
  /favoris/{id}:
    get:
      summary: Get a favori by id
      tags:
        - Favoris
      parameters:
        - name: id
          in: path
          description: ID of the favori
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Get a favori by id
          content:
            application/json:
              schema:
                type: object
              example:
                - id: 1
                  dateCreation: 2023-01-02 21:16:55
                  status: PENDING
                  idUtilisateur: 1
                  idRessource: 2
  #endregion

  #region Groupes
  /groupes:
    get:
      summary: Get all groupes
      tags: 
        - Groupes
      parameters:
            - name: perPage
              in: query
              description: Set the number of groupes per page
              required: false
              schema:
                type: integer
            - name: <key>[<operator>]=<value>
              in: query
              description: Allow to filter groupes with operators like equals, greater than, less than, greater than equals, less than equals
              required: false
              schema:
                type: string
      responses:
        '200':
          description: Get all groupes
          content:
            application/json:
              schema:
                type: array
              example:
                - id: 1
                  dateCreation: 2023-01-02 21:16:55
                  status: PENDING
                  nom: "Groupe 1"
                  description: "Description du groupe 1"
                  idUtilisateur: 1
                - id: 2
                  dateCreation: 2023-03-06 12:10:02
                  status: PENDING
                  nom: "Groupe 2"
                  description: "Description du groupe 2"
                  idUtilisateur: 5
    post:
      summary: Create a groupe
      tags:
        - Groupes
      responses:
        '201':
          description: Create a groupe
          content:
            application/json:
              schema:
                type: object
              example:
                - nom : "Groupe 3"
                  description : "Description du groupe 3"
                  idUtilisateur : 1
  /groupes/{id}: 
    get:
      summary: Get a groupe by id
      tags:
        - Groupes
      parameters:
        - name: id
          in: path
          description: ID of the groupe
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Get a groupe by id
          content:
            application/json:
              schema:
                type: object
              example:
                - id: 1
                  dateCreation: 2023-01-02 21:16:55
                  status: PENDING
                  nom: "Groupe 1"
                  description: "Description du groupe 1"
                  idUtilisateur: 1
    delete:
      summary: Delete a groupe by id
      tags:
        - Groupes
      parameters:
        - name: id
          in: path
          description: ID of the groupe
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Delete a groupe by id
  #endregion

  #region Pieces jointes
  /piecesJointes:
    get:
      summary: Get all pieces jointes
      tags: 
        - Pieces jointes
      parameters:
            - name: perPage
              in: query
              description: Set the number of pieces jointes per page
              required: false
              schema:
                type: integer
            - name: <key>[<operator>]=<value>
              in: query
              description: Allow to filter pieces jointes with operators like equals, greater than, less than, greater than equals, less than equals
              required: false
              schema:
                type: string
      responses:
        '200':
          description: Get all pieces jointes
          content:
            application/json:
              schema:
                type: array
              example:
                - id: 1
                  dateCreation: 2023-01-02 21:16:55
                  status: PENDING
                  idUtilisateur: 1
                  idRessource: 2
                  nom: "Annexe PDF sur la situation géopolitique au Zimbabwe"
                  chemin: /1/pdf/1_ressource.pdf
                - id: 2
                  dateCreation: 2023-03-06 12:10:02
                  status: PENDING
                  idUtilisateur: 5
                  idRessource: 3
                  nom: "Annexe PDF sur la situation géopolitique au Zimbabwe"
                  chemin: /1/pdf/1_ressource.pdf
    post:
      summary: Create a piece jointe
      tags:
        - Pieces jointes
      responses:
        '201':
          description: Create a piece jointe
          content:
            application/json:
              schema:
                type: object
              example:
                - idUtilisateur : 1
                  idRessource : 2
                  nom : "Annexe PDF sur la situation géopolitique au Zimbabwe"
                  chemin : /1/pdf/1_ressource.pdr
  /pieceJointes/{id}:
    get:
      summary: Get a piece jointe by id
      tags:
        - Pieces jointes
      parameters:
        - name: id
          in: path
          description: ID of the piece jointe
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Get a piece jointe by id
          content:
            application/json:
              schema:
                type: object
              example:
                - id: 1
                  dateCreation: 2023-01-02 21:16:55
                  status: PENDING
                  idUtilisateur: 1
                  idRessource: 2
                  nom: "Annexe PDF sur la situation géopolitique au Zimbabwe"
                  chemin: /1/pdf/1_ressource.pdf
    delete:
      summary: Delete a piece jointe by id
      tags:
        - Pieces jointes
      parameters:
        - name: id
          in: path
          description: ID of the piece jointe
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Delete a piece jointe by id
  #endregion

  #region Relations
  /relations:
    get:
      summary: Get all relations
      tags: 
        - Relations
      parameters:
            - name: perPage
              in: query
              description: Set the number of relations per page
              required: false
              schema:
                type: integer
            - name: <key>[<operator>]=<value>
              in: query
              description: Allow to filter relations with operators like equals, greater than, less than, greater than equals, less than equals
              required: false
              schema:
                type: string
      responses:
        '200':
          description: Get all relations
          content:
            application/json:
              schema:
                type: array
              example:
                - id: 1
                  dateCreation: 2023-01-02 21:16:55
                  idDemandeur: 1
                  idReceveur: 2
                  accepte: true
                - id: 2
                  dateCreation: 2023-03-06 12:10:02
                  idDemandeur: 3
                  idReceveur: 3
                  accepte: null
    post:
      summary: Create a relation
      tags:
        - Relations
      responses:
        '201':
          description: Create a relation
          content:
            application/json:
              schema:
                type: object
              example:
                - idDemandeur : 1
                  idReceveur : 2
  /relation/{id}:
    get:
      summary: Get a relation by id
      tags:
        - Relations
      parameters:
        - name: id
          in: path
          description: ID of the relation
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Get a relation by id
          content:
            application/json:
              schema:
                type: object
              example:
                - id: 1
                  dateCreation: 2023-01-02 21:16:55
                  idDemandeur: 1
                  idReceveur: 2
                  accepte: true
    delete:
      summary: Delete a relation by id
      tags:
        - Relations
      parameters:
        - name: id
          in: path
          description: ID of the relation
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Delete a relation by id
          content:
            application/json:
              schema:
                type: object
              example:
                message: "Relation deleted"
  #endregion

  #region Ressources
  /ressources:
    get:
      summary: Get all ressources
      description: Get all ressources as a JSON array
      tags: 
        - Ressources
      parameters:
            - name: perPage
              in: query
              description: Set the number of ressources per page
              required: false
              schema:
                type: integer
            - name: <key>[<operator>]=<value>
              in: query
              description: Allow to filter ressources with operators like equals, greater than, less than, greater than equals, less than equals
              required: false
              schema:
                type: string
      responses:
        '200':
          description: Get all Ressources
          content:
            application/json:
              schema:
                type: array
              example:
                - id: 1
                  dateCreation: 2023-01-02 21:16:55
                  status: PENDING
                  idUtilisateur: 1
                  partage: RESTRICTED
                  titre: Quis dolores repellendus fuga ut sit perferendis.
                  contenu: Voluptas cum sint accusamus quo officiis qui. Eum voluptatem autem aut nisi. Quae molestiae optio et ut. Voluptatem vel hic temporibus ea animi magni totam.
                  datePublication: null
                  raisonRefus: null
                  idCategorie: 2
                - id: 2
                  dateCreation: 2023-03-06 12:10:02
                  status: PENDING
                  idUtilisateur: 5
                  partage: PRIVATE
                  titre: Quis dolores repellendus fuga ut sit perferendis.
                  contenu: Voluptas cum sint accusamus quo officiis qui. Eum voluptatem autem aut nisi. Quae molestiae optio et ut. Voluptatem vel hic temporibus ea animi magni totam.
                  datePublication: null
                  raisonRefus: null
                  idCategorie: 3
    post:
      summary: Create a ressource
      description: Create a ressource by sending a JSON object
      tags:
        - Ressources
      responses:
        '201':
          description: Create a ressource
          content:
            application/json:
              schema:
                type: object
              example:
                - titre : "Ajout d'une nouvelle ressource"
                  contenu : "Contenu de la nouvelle ressource"
                  idUtilisateur : 1
                  idCategorie : 2
                  idPieceJointe : 3   
    #TODO ressources/{id}/accept
    patch:
      summary: Refuse a ressource
      description: Moderate and give a refusal reason for a ressource
      tags:
        - Ressources
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                raisonRefus:
                  type: string
            example:
              id: 1
              raisonRefus: "Raison du refus"
      responses:
        '200':
          description: Refuse a ressource
          content:
            application/json:
              schema:
                type: object
              example:
                message : "Ressource refused"
  /ressources/{id}:
    get:
      summary: Get a ressource by id
      description: Get a single ressource by its id
      tags:
        - Ressources
      parameters:
        - name: id
          in: path
          description: ID of the ressource
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Get a ressource by id
          content:
            application/json:
              schema:
                type: object
              example:
                - id: 1
                  dateCreation: 2023-01-02 21:16:55
                  status: PENDING
                  idUtilisateur: 1
                  partage: RESTRICTED
                  titre: Quis dolores repellendus fuga ut sit perferendis.
                  contenu: Voluptas cum sint accusamus quo officiis qui. Eum voluptatem autem aut nisi. Quae molestiae optio et ut. Voluptatem vel hic temporibus ea animi magni totam.
                  datePublication: null
                  raisonRefus: null
                  idCategorie: 2
    delete:
      summary: Delete a ressource
      description: Delete a single ressource by its id
      tags:
        - Ressources
      responses:
        '200':
          description: Delete a ressource
          content:
            application/json:
              schema:
                type: object
              example:
                message : "Ressource deleted"
  #endregion